# Tell bazel to automatically include a flag `--config <platform>`, where `<platform>` is the host
# OS (the OS that bazel is being run on).
common                  --enable_platform_specific_config

build                   --enable_runfiles=yes
run                     --enable_runfiles=yes
test                    --test_output=all

# Windows
build:windows           --host_cxxopt=/std:c++20

# MacOS
build:macos             --config=posix

# iOS
build:ios               --config=posix

# Linux
build:linux             --config=posix

# WebAssembly
build:wasm              --crosstool_top=@wasm_toolchain//:toolchain
build:wasm              --cpu=wasm32
build:wasm              --define embed=all
build:wasm              --define platform=wasm
build:wasm              --config=posix

# POSIX
build:posix             --host_cxxopt=-std=c++20

# Useful for debugging the build process
build:sandbox           --verbose_failures
build:sandbox           --sandbox_debug

# Useful for debugging the issues with the graphics at runtime
build:debug             --define debug=on

# Turn off legacy external runfiles on all platforms except Windows.
# This prevents accidentally dependening on this feature, which Bazel will remove.
# Skylib's diff_test implementation for Windows depends on legacy external runfiles so we cannot
# disable it fully.
build:posix             --nolegacy_external_runfiles

# Import a user-specific bazel config file.
try-import              .bazelrc.user
